body,html{
  height: 100%;
}
*{
  box-sizing: border-box;
}
.head{
  border-bottom: 2px solid #D2D2D6;
}
.ques{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
.btn{
  z-index: 10;
}